.cards{
    display:flex;
    gap:1rem;
}

.parentContainer{
    width:100%;
}

@media screen and (max-width:1200px){
    .cards{
        flex-direction: column;
        gap:3rem;
    }

    .parentContainer{
        height: 9rem;
    }
}

@media screen and (max-width:768px){
    .cards{
        width:90%;
        gap:3rem;
    }
}
