.sidebar{
    display:flex;
    flex-direction: column;
    padding-top: 3rem;
    position: relative;
    transition: all 300ms ease;

}

.logo{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1.8rem;
    height: 5rem;
    height: 4%;
    font-weight: bold;
    font-size: 1.2rem;
}

.logo>img{
    height:3rem;
    width:3rem;
}

.logo> span >span{
    color:var(--pink);
}

.menu{
    margin-top: 4rem;
    display:flex;
    flex-direction: column;
    gap:2rem;
}

.menuItem{
    display:flex;
    align-items:center;
    gap:1rem;
    font-size: 1.2rem;
    height: 2.5rem;
    margin-left: 2rem;
    position: relative;
    border-radius: 0.7rem;
    transition: all 0.5s ease;
}

.menuItem:hover{
    cursor:pointer;
}
.active{
    background:var(--activeItem);
    margin-left: 0;
    
}
.active::before{
    content: " ";
    width:8px;
    height: 100%;
    background:var(--pink);
    margin-right: calc(1rem - 8px);

}

.menu .menuItem:last-child{
    position: absolute;
    bottom: 2.4rem;
    width: 100%;
    
}

.bars{
    display:none !important;
}

@media screen and (max-width:1200px)
{
    .menuItem>span{
        display:none;
    }

    .logo{
        display:none;
    }
}

@media screen and (max-width:768px){
    .sidebar{
        position:fixed;
        width: 32%;
        height: 100%;background: #ffe0e0;
        padding-right: 1rem;z-index: 9;
    }

    .menuItem>span{
        display:block;
    }

    .logo{
        display:flex;
    }

    .menu .menuItem:last-child{
        position: relative;
        margin-top: 2rem;
    }
}

.bars{
    display:flex;
    position:fixed;
    top: 2rem;
    background: #ffe0e0;
    padding:10px;
    border-radius: 10px;
    z-index: 9;

}